@model IQueryable<Product>
@{
ViewBag.Title = "Shop";
}

<div class="mainContainers  shopItemsContainer">
    <h2>Shop</h2>
    <div class="alert alert-success" id="messages" style="display:none">

    </div>
    @foreach (var item in Model)
    {
        <div class="noDeco" href="#">
            <div class="shopItem" id="@item.Id">
                <img src="@item.Image" alt="Picture of Something Awesome" />
                <div class="shopItemDetails">
                    <h4 class="shopItemTitle">@item.Name</h4>
                    <ul>
                        <li>$@item.Price</li>
                        <li>@item.Size</li>
                        <li>@item.Color</li>
                        <li class="noDecoList">@item.Material</li>
                    </ul>
                </div>
                <button onclick="addToCartClick(@item.Id)" id="addToCart_@item.Id" >Add To Cart</button>
                
            </div>
        </div>
    }
</div>

@section scripts{
<script type="text/javascript">
    function addToCartClick(productId) {
        document.querySelector("#messages").setAttribute("style", "display:none");

        var button = document.querySelector("#addToCart_" + productId);
        button.setAttribute("disabled", "disabled");
        fetch('/home/AddToCart',
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",

                },
                body: JSON.stringify({ id: productId })
            }).then(function () {
                
                button.removeAttribute("disabled");
                var newMessage = document.createElement("p");
                newMessage.innerText = "Added product";
                document.querySelector("#messages").appendChild(newMessage);
                document.querySelector("#messages").removeAttribute("style");
            });
    }

    </script>    
}
